/* RESPONSIVE NAVBAR */

@media (max-width: 992px) {

    .header {
        padding: 20.8px 5%;
    }

}

@media (max-width: 768px) {

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icono {
        display: none;
    }

    .icons #cerrar-icono {
        display: none;

    }

    #check:checked~.icons #cerrar-icono {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 283.2px;
    }
    
    .navbar a {
        display: block;
        font-size: 17.6px;
        margin: 24px 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
    }
}

/* FIN RESPONSIVE NAVBAR */

/* RESPONSIVE MAIN INICIO */

@media screen and (max-width: 768px) {
    .contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px;
    }

}

/* FIN RESPONSIVE MAIN INICIO */

/* RESPONSIVE GALERIA */

@media only screen and (max-width: 769px) {
    .galeria .columnas {
        flex-direction: column;
    }

    .galeria .columnas .fotos {
        width: 100%;
    }
}

/* FIN RESPONSIVE GALERIA */

/* UBICACION RESPONSIVE */

@media (max-width:991px) {
    .slider-frame {
        width: 100%;
    }
}

/* FIN UBICACION RESPONSIVE */

/* NOSOTROS RESPONSIVE */

@media(max-width: 769px) {
    .parrafo {
        font-size: 15px;
        margin: 50px;
    }
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 20px;
	}
}

/* FIN NOSOTROS RESPONSIVE */

/* FOOTER RESPONSIVE */

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* FIN FOOTER RESPONSIVE */